<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STYLE</title>
  <link rel="stylesheet" href="./style/index.css">
</head>
<body>
  <div class="layout">
    <div class="layout__top">Top</div>
    <div class="layout__main">
      <ul class="todulist">
        <li>待办任务1</li>
        <li class="completed">已完成</li>
        <li>待办任务3</li>
        <li>待办任务4</li>
        <li>待办任务5</li>
      </ul>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
      <div style="height: 150px">ignore</div>
    </div>
    <div class="layout__bottom">Bottom</div>
  </div>
</body>
</html>